.userlist {
  display: flex;
  flex-direction: column;

  & li {
    width: auto;
    color: rgb(10, 163, 168);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 7px;
  }
}

.userlist-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userlist-title {
  text-align: center;
  color: rgb(10, 163, 168);
  margin-bottom: 10px;
}