:root {
  --fontFamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --fontSize: 20px;
  --width: 100%;
}

.post-title {
  text-align: center;
  color: rgb(10, 163, 168);
  margin-bottom: 10px;
}

.post-text {
  width:  var(--width);
  padding: 10px;
  font-size: var(--fontSize);
  margin-bottom: 10px;
  font-family: var(--fontFamily);
  color:rgb(43, 97, 104);
}

.btn-clear {
  outline: none;
  background-color: #fff;
  border: 2px solid rgb(11, 133, 182);
  font-size: 18px;
  border-radius: 5px;
  width: 200px;
  padding: 3px;
  cursor: pointer;
}

.post-Items {
  margin-top: 20px;
}

.post-item {
  width:  var(--width);
  box-shadow: 2px 2px 5px 2px rgb(195, 206, 207);
  border-radius: 5px;
  padding: 10px;
  font-size: var(--fontSize);
  margin-bottom: 10px;
  font-family: var(--fontFamily);
  color:rgb(43, 97, 104);
  cursor: pointer;
}

.coins-pagination {
  padding: 20px;
  width:  var(--width);
  display: flex;
  justify-content: center;
  
  & .MuiPaginationItem-root {
    color: blue;
  }
}