.textarea-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin: 0;
}

.textarea-btn{
  margin: 20px 0 0 30px;
  color: rgb(4, 124, 124);
  border-radius: 5px;
  font-size: 17px;
  width: 200px;
  height: 35px;
  background:#fff;
  cursor: pointer;
}