.nav__all{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item{
  margin: 10px 15px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}